* {

margin: 0;

padding: 0;

}


body {

font-family: 'Arial', sans-serif;
    background-color: snow;

}


.navbar {

display: flex;

position: sticky;

align-items: center;

justify-content: space-between;

top: 0px;

background: rgba(0, 0, 0, 0.6) url( 'https://media.geeksforgeeks.org/wp-content/uploads/20201215124609/Capture-300x14.PNG');

background-blend-mode: darken;

background-size: cover;
background-color: crimson;
color: white;

padding: 10px 20px;

}


.nav-list {

display: flex;

list-style: none;

}


.nav-list li {

margin-right: 20px;

}


.nav-list li:last-child {

margin-right: 0;

}


.nav-list li a {

text-decoration: none;

color: white;

font-size: 18px;

transition: color 0.3s ease-in-out;

}


.nav-list li a:hover {

color: #ffd700;

/* Change the color on hover */

}


.rightNav {

text-align: right;
}


#search {

padding: 8px;

font-size: 16px;

border: 2px solid #fff;

border-radius: 5px;

}


.btn {

background-color: #ffd700;

color: #000;

border: none;

padding: 8px 12px;

border-radius: 5px;

cursor: pointer;

transition: background-color 0.3s ease-in-out;

}


.btn:hover {

background-color: #000;

/* Change the background color on hover */

color: #ffd700;

}
    #pics{
        width: 600px;
        height: 600px;
        border: 5px solid black;
        border-radius: 10%;
    }
    p{
        font-size: 40px;
        font-family: sans-serif;
    }
#roll{
    background-color: black; 
    color: azure;
    font-size: 20px;
    position: fixed;
}
.form{
    background-color: black;
    border-radius: 10px;
    width: 600px;
        height: 400px;
    border: double black;
    color: white;
    justify-content:center;
    padding: 10px;
    box-shadow: -10px 5px 3px blue;
    margin: auto;
}
.you {

padding: 8px;

font-size: 16px;

border: 2px solid blue;

border-radius: 5px;

}
.you:hover{
    border: 3px solid blue;
}
#member{
    float: right;
    font-size: 20px;
}
    
.btn-submit {

background-color: blue;

color: azure;

border: none;

padding: 8px 12px;

border-radius: 5px;

cursor: pointer;
    width: 100%;

transition: background-color 0.3s ease-in-out;
    margin: auto;

}


.btn-submit:hover {

background-color: darkblue;

color: #ffd700;

}
h3{
    background-blend-mode: darken;
    width:185px
}
#search2 {

padding: 8px;

font-size: 16px;

border: 5px solid black;
background-color: snow;
border-radius: 5px;

}
#select {

padding: 8px;

font-size: 16px;

border: 5px solid orange;
color: orange;
background-color: black;
border-radius: 5px;

}
.search-btn {

background-color: blue;

color: azure;

border: 5px solid black;

padding: 8px 12px;

border-radius: 5px;

cursor: pointer;

transition: background-color 0.3s ease-in-out;

}


.search-btn:hover {

background-color: #000;

color: red;

}

section{
    background-color: skyblue;
}
.form small{
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    text-align: center;
}
.form. sucess input{
    border-color: green;
}
.form.error input{
    border-color: red
}
.form.error small{
    visibility: visible;
}